.login {
  .button-register {
    background: $main-red;
    border: 0.2rem solid $main-red;
  }

  .button-register:hover {
    background: transparent;
    border: 0.2rem soid $main-red;
    color: black;
  }
}
