.not-found {
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
	max-height: 70vh;
	overflow: auto;

	h2 {
		font-size: 10rem;
		margin-bottom: 2rem;
	}

	button {
		font-size: 2rem;
		border: 0.2rem solid white;
		padding: 1rem 4rem;
		background: transparent;
		margin: 2rem 0.5rem;
		cursor: pointer;
		color: white;

		a {
			color: white;
		}
	}

	button:hover {
		background: white;
		color: $main-yellow;
	}
}
