.organic-food-market {
	max-height: 70vh;
	overflow: auto;
}

li {
	list-style-type: none;
}

.menu-product {
	border-bottom: 2px solid black;
	margin: 2rem;
	font-size: 1.7rem;

	img {
		width: 200px;
	}
	button {
		color: white;
		border: 1px solid white;
		border-radius: 1rem;
		background: transparent;
		cursor: pointer;
		padding: 1rem 2rem;
		margin: 2rem 0;
	}
}
